# Node
node_modules/
**/node_modules/

# Flutter / Dart
build/
.dart_tool/
.packages
.pub/
.pub-cache/

# Flutter generated
**/generated_plugin_registrant.*
**/generated_plugins.cmake
**/GeneratedPluginRegistrant.*

# Logs
*.log

# Env (SECRET!)
.env
serviceAccountKey.json

# OS files
.DS_Store
Thumbs.db