# Node
node_modules/
telegram-backend/node_modules/
functions/node_modules/

# Flutter / Dart
build/
.dart_tool/
.packages

# Flutter generated
**/generated_plugin_registrant.*
**/generated_plugins.cmake
**/GeneratedPluginRegistrant.*

# Logs
*.log

# Env (SECRET!)
.env
serviceAccountKey.json